.identifier {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  height: 30px;
}

.identifier .expand-icon {
  margin-right: 10px;
}

.metrics {
  margin-left: 10px;
}

.metrics .metric {
  margin-left: 5px;
}

.coverage-metric {
  height: 10px;
  width: 50px;
  margin-left: 10px;
}

.end-node-identifier {
  margin-left: 30px;
}

.search-component {
  margin-left: 10px;
}

.tree-node-component .filters {
  display: flex;
}

.tree-node-component .action-buttons {
  display: flex;
}

.tree-node-component .action-buttons .button {
  margin-left: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
